<h1>Welcome Fellow Unicorns</h1>

<%= form_for :monkey, url: '/pages/monkey' do |form| %>
  <%= form.label :name %>
  <%= form.text_field :name %>
  <br>
  <%= form.label :location %>
  <%= form.text_field :location %>
  <br>
  <%= form.submit %>
<% end %>
