<h1>Welcome Fellow Unicorns</h1>

<p><%= notice %></p>
<h3>Join <%= @subscribers_count %> other subscribers by joining our mailing list:</h3>


  <%= form_for Subscriber.new do |form| %>
  <strong><%= form.label :name %></strong>
  <%= form.text_field :name %>
  <br>
  <strong><%= form.label :email %></strong>
  <%= form.text_field :email %>
  <br>
  <%= form.submit %>
<% end %>
